<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/views/home/home.css">
  <link rel="stylesheet" type="text/css" href="../../static/js/slick/slick.css"/>
  <title>Se Chegar A Gente Limpa</title>
</head>

<body>
  <header>
    <section class="banner">
      <img class="logo" src="../../static/image/se chegar a gente limpa.png" alt="logo">
      <img class="menu" src="../../static/image/menu-button.svg" alt="botao do menu">
      <h1 class="carousel-text">Coletivo</h1>
      <div class="carousel">
        <img class="carousel-image" src="../../static/image/EHbSAFSX0AEZ2i3@2x.png" alt="Voluntários retirando óleo de praia"/>
        <img class="carousel-image" src="../../static/image/EHbSAFSX0AEZ2i3@2x.png"/>
        <img class="carousel-image" src="../../static/image/EHbSAFSX0AEZ2i3@2x.png"/>
      </div>
    </section>
  </header>
  <main>
    <section class="campaign-section">
      <h2 class="title">Quer fazer parte do movimento?</h2>
      <div class="text">
        <p>
          Indique no mapa abaixo os focos de contaminação por óleo e os recursos necessários para limpeza.
        </p>
        <p>
          Você também pode ver em quais pontos as equipes a sociedade organizada está trabalhando para retirar a
          sujeira.
        </p>
      </div>
    </section>
    <section class="map-section">
      <h3 class="title">Faça parte dessa campanha, acompanhe as equipes de força-tarefa.</h3>
      <!-- mapa -->
    </section>
    <section class="cleaning-section">
      <img class="cleaning-images" src="../../static/image/cleaning-1.png" alt="tirando o óleo">
      <img class="cleaning-images" src="../../static/image/cleaning-2.png" alt="limpando a praia">
    </section>
    <section class="share-text-section">
      <h2 class="title">Compartilhe</h2>
      <div class="text">
        <p>
          Você também pode ajudar compartilhando a campanhas pelas redes sociais. Conecte-se pelo seu facebook e nos siga nas redes sociais para ficar por dentro e dividir essa ideia com outras pessoas.
        </p>
      </div>
    </section>
    <section class="share-images-section">
      <div class="text">
        <p>
          Quem já passou por aqui:
        </p>
      </div>
      <!-- fotos do facebook -->
    </section>
    <section class="data-section">
      <div class="data-container">
        <span class="data">40 ton.</span>
        <span class="data-description">De óleo coletado</span>
      </div>
      <div class="data-container">
        <span class="data">12.000</span>
        <span class="data-description">Voluntárixs engajadxs</span>
      </div>
    </section>
    <div class="login-container">
      <img class="fb-login-button" src="/static/image/Facebook.svg" alt="Facebook">
    </div>
  </main>

</body>
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="../../static/js/slick/slick.min.js"></script>
<script async defer src="https://connect.facebook.net/en_US/sdk.js"></script>
<script src="/views/home/home.js"></script>

</html>