<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/views/home/home.css">
  <link rel="stylesheet" type="text/css" href="../../static/js/slick/slick.css"/>
  <!-- <link rel="stylesheet" type="text/css" href="../../static/toasty/toasty.min.css"/> -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
  integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
  crossorigin=""/>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
  <title>Se Chegar A Gente Limpa</title>
</head>

<body>
  <header>
    <section class="banner">
      <img class="logo" src="../../static/image/se chegar a gente limpa.png" alt="logo">
      <h1 class="carousel-text">Coletivo</h1>
      <div class="carousel">
        <img class="carousel-image" src="../../static/image/EHbSAFSX0AEZ2i3@2x.png"
          alt="Voluntários retirando óleo de praia" />
        <img class="carousel-image" src="../../static/image/EHbSAFSX0AEZ2i3@2x.png" />
        <img class="carousel-image" src="../../static/image/EHbSAFSX0AEZ2i3@2x.png" />
      </div>
      <div class="carousel-border"><img class="carousel-border-image" src="static/mosaic-border.svg"></div>
    </section>
  </header>
  <main>
    <section class="campaign-section">
      <h2 class="title">Quer fazer parte do movimento?</h2>
      <div class="text">
        <p>
          Indique no mapa abaixo os focos de contaminação por óleo e os recursos necessários para limpeza.
        </p>
        <p>
          Você também pode ver em quais pontos as equipes a sociedade organizada está trabalhando para retirar a
          sujeira.
        </p>
      </div>
    </section>
    <section class="map-section">
      <h3 class="title">Faça parte dessa campanha, acompanhe as equipes de força-tarefa.</h3>
      <div id="mapid">
      </div>
    </section>
    <section class="cleaning-section">
      <img class="cleaning-images" src="../../static/image/cleaning-1.png" alt="tirando o óleo">
      <img class="cleaning-images" src="../../static/image/cleaning-2.png" alt="limpando a praia">
    </section>
    <section class="share-text-section">
      <h2 class="title">Compartilhe</h2>
      <div class="text">
        <p>
          Você também pode ajudar compartilhando a campanhas pelas redes sociais. Conecte-se pelo seu facebook e nos
          siga nas redes sociais para ficar por dentro e dividir essa ideia com outras pessoas.
        </p>
      </div>
    </section>
    <!--
    <section class="share-images-section">
      <div class="text">
        <p>Quem já passou por aqui:</p>
      </div>
      <div class="mosaic-container">
        <div class="mosaic-border-top"><img class="mosaic-border-image" src="static/mosaic-border.svg"></div>
        <div class="mosaic-container">
          <div class="mosaic-border-top"><img class="mosaic-border-image" src="static/mosaic-border.svg"></div>
          <div class="mosaic-container">
            <div class="mosaic-item"><img class="mosaic-image" src="static/examples/1.jpg"></div>
            <div class="mosaic-item"><img class="mosaic-image" src="static/examples/2.jpg"></div>
            <div class="mosaic-item"><img class="mosaic-image" src="static/examples/3.jpg"></div>
            <div class="mosaic-item"><img class="mosaic-image" src="static/examples/4.jpg"></div>
            <div class="mosaic-item"><img class="mosaic-image" src="static/examples/5.jpg"></div>
            <div class="mosaic-item"><img class="mosaic-image" src="static/examples/6.jpg"></div>
            <div class="mosaic-item"><img class="mosaic-image" src="static/examples/1.jpg"></div>
            <div class="mosaic-item"><img class="mosaic-image" src="static/examples/2.jpg"></div>
            <div class="mosaic-item"><img class="mosaic-image" src="static/examples/3.jpg"></div>
            <div class="mosaic-item"><img class="mosaic-image" src="static/examples/4.jpg"></div>
            <div class="mosaic-item"><img class="mosaic-image" src="static/examples/5.jpg"></div>
            <div class="mosaic-item"><img class="mosaic-image" src="static/examples/6.jpg"></div>
            <div class="mosaic-item"><img class="mosaic-image" src="static/examples/1.jpg"></div>
            <div class="mosaic-item"><img class="mosaic-image" src="static/examples/2.jpg"></div>
            <div class="mosaic-item"><img class="mosaic-image" src="static/examples/3.jpg"></div>
            <div class="mosaic-item"><img class="mosaic-image" src="static/examples/4.jpg"></div>
            <div class="mosaic-item"><img class="mosaic-image" src="static/examples/5.jpg"></div>
            <div class="mosaic-item"><img class="mosaic-image" src="static/examples/6.jpg"></div>
            <div class="mosaic-item"><img class="mosaic-image" src="static/examples/1.jpg"></div>
            <div class="mosaic-item"><img class="mosaic-image" src="static/examples/2.jpg"></div>
            <div class="mosaic-item"><img class="mosaic-image" src="static/examples/3.jpg"></div>
            <div class="mosaic-item"><img class="mosaic-image" src="static/examples/4.jpg"></div>
            <div class="mosaic-item"><img class="mosaic-image" src="static/examples/5.jpg"></div>
            <div class="mosaic-item"><img class="mosaic-image" src="static/examples/6.jpg"></div>
            <div class="mosaic-item"><img class="mosaic-image" src="static/examples/1.jpg"></div>
            <div class="mosaic-item"><img class="mosaic-image" src="static/examples/2.jpg"></div>
            <div class="mosaic-item"><img class="mosaic-image" src="static/examples/3.jpg"></div>
            <div class="mosaic-item"><img class="mosaic-image" src="static/examples/4.jpg"></div>
            <div class="mosaic-item"><img class="mosaic-image" src="static/examples/5.jpg"></div>
            <div class="mosaic-item"><img class="mosaic-image" src="static/examples/6.jpg"></div>
            <div class="mosaic-item"><img class="mosaic-image" src="static/examples/1.jpg"></div>
            <div class="mosaic-item"><img class="mosaic-image" src="static/examples/2.jpg"></div>
            <div class="mosaic-item"><img class="mosaic-image" src="static/examples/3.jpg"></div>
            <div class="mosaic-item"><img class="mosaic-image" src="static/examples/4.jpg"></div>
            <div class="mosaic-item"><img class="mosaic-image" src="static/examples/5.jpg"></div>
            <div class="mosaic-item"><img class="mosaic-image" src="static/examples/6.jpg"></div>
            <div class="mosaic-item"><img class="mosaic-image" src="static/examples/1.jpg"></div>
            <div class="mosaic-item"><img class="mosaic-image" src="static/examples/2.jpg"></div>
            <div class="mosaic-item"><img class="mosaic-image" src="static/examples/3.jpg"></div>
            <div class="mosaic-item"><img class="mosaic-image" src="static/examples/4.jpg"></div>
            <div class="mosaic-item"><img class="mosaic-image" src="static/examples/5.jpg"></div>
            <div class="mosaic-item"><img class="mosaic-image" src="static/examples/6.jpg"></div>
            <div class="mosaic-item"><img class="mosaic-image" src="static/examples/1.jpg"></div>
            <div class="mosaic-item"><img class="mosaic-image" src="static/examples/2.jpg"></div>
            <div class="mosaic-item"><img class="mosaic-image" src="static/examples/3.jpg"></div>
            <div class="mosaic-item"><img class="mosaic-image" src="static/examples/4.jpg"></div>
            <div class="mosaic-item"><img class="mosaic-image" src="static/examples/5.jpg"></div>
            <div class="mosaic-item"><img class="mosaic-image" src="static/examples/6.jpg"></div>
          </div>
          <div class="mosaic-border-bottom"><img class="mosaic-border-image" src="static/mosaic-border.svg"></div>
        </div>
      </div>
    </section>
  -->
    <div class="login-container">
      <img class="fb-login-button" src="/static/image/Facebook.svg" alt="Facebook">
    </div>
    <section class="data-section">
      <div class="data-container">
        <span class="data">40 ton.</span>
        <span class="data-description">De óleo coletado</span>
      </div>
      <div class="data-container">
        <span class="data">12.000</span>
        <span class="data-description">Voluntárixs engajadxs</span>
      </div>
    </section>

    <footer class="footer-section">
      <div class="footer-waves">
        <svg width="100%" height="180px" fill="none" version="1.1"
        xmlns="http://www.w3.org/2000/svg">
          <path 
            fill="#2EB3A1" 
            d="
              M0 67
              C 273,183
                822,-40
                1920.00,106 
              
              V 359 
              H 0 
              V 67
              Z">
            <animate 
              repeatCount="indefinite" 
              fill="#2EB3A1" 
              attributeName="d" 
              dur="8s"
              attributeType="XML"
              values="
                M0 77 
                C 473,283
                  822,-40
                  1920,116 
                
                V 359 
                H 0 
                V 67 
                Z; 

                M0 77 
                C 473,-40
                  1222,283
                  1920,136 
                
                V 359 
                H 0 
                V 67 
                Z; 

                M0 77 
                C 973,260
                  1722,-53
                  1920,120 
                
                V 359 
                H 0 
                V 67 
                Z; 

                M0 77 
                C 473,283
                  822,-40
                  1920,116 
                
                V 359 
                H 0 
                V 67 
                Z
                ">
            </animate>
          </path>
        </svg>
      </div>
      <div class="footer-content">
        <a class="footer-content-network" href="https://www.facebook.com/sechegaragentelimpa">
          <i class="fab fa-facebook-f"></i>
          <p class="footer-credits-description">facebook.com/sechegaragentelimpa</p>
        </a>
        <a class="footer-content-network" href="https://www.instagram.com/sechegaragentelimpa/">
          <i class="fab fa-instagram"></i>
          <p class="footer-credits-description">@sechegaragentelimpa</p>
        </a>
      </div>
      <div class="footer-credits">
        Made with <i class="fas fa-code"></i> and <i class="fas fa-heart"></i> by <a href="http://citi.org.br/"><img class="footer-credits-icon" src="static/icons/citi.svg"/></a>
      </div>
    </footer>
  </main>

  <!-- <script type="text/javascript" src="../../static/toasty/toasty.min.js"></script> -->
  <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="../../static/js/slick/slick.min.js"></script>
  <script async defer src="https://connect.facebook.net/en_US/sdk.js"></script>
  <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
    integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
    crossorigin="">
</script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/views/home/home.js"></script>
</body>
</html>