@font-face {
  font-family: 'El camino';
  src: url('/static/font/Elcamino.woff2') format('woff2'),
      url('/static/font/Elcamino.woff') format('woff'),
      url('/static/font/Elcamino.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura';
  src: url('/static/font/Futura-Medium.woff2') format('woff2'),
      url('/static/font/Futura-Medium.woff') format('woff'),
      url('/static/font/Futura-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
:root {
  --green: #2FB4A2;
  --gray: #506077;
}
body {
  margin: 0 8%;
}

.campaign-section {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.title {
  text-align: center;
  font-family: 'El camino';
  font-weight: normal;
  color: var(--green);
  font-size: 2.5rem;
  width: 100%;
}

.text {
  font-family: 'Futura';
  color: var(--gray);
  line-height: 1.3;
  width: 100%;
  font-size: 0.9rem;
}

.map-section > .title {
  font-size: 1.2rem;
}

.data-section {
  background-image: url('/static/image/oleo-praia-al12x.png');
  font-family: 'El camino';
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 1px;
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.data-container{
  margin: 50px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.data {
  font-size: 5.5rem;
  margin: 0;
  width: 100%;
}
.data-description {
  font-size: 2rem;
}

@media(min-width: 768px){
  .text {
    font-size: 1rem;
    text-align: center;
  }
}

.share-text-section {
  margin: 30px 0px;
}