@font-face {
  font-family: 'El camino';
  src: url('/static/font/Elcamino.woff2') format('woff2'),
      url('/static/font/Elcamino.woff') format('woff'),
      url('/static/font/Elcamino.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura';
  src: url('/static/font/Futura-Medium.woff2') format('woff2'),
      url('/static/font/Futura-Medium.woff') format('woff'),
      url('/static/font/Futura-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
:root {
  --green: #2FB4A2;
  --gray: #506077;
}

html{
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  font-size: 5rem;
}

main {
  margin: 0;
}

/* #### BANNER #### */

.banner{
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.logo{
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  z-index: 1000;
}
.menu {
  position: absolute;
  padding-left: 20px;
  top: 40px;
  right: 8%;
  width: 34px;
  z-index: 999;
  cursor: pointer;
}
.waves{
  width: 100%;
  position: absolute;
  z-index: 2;
  height: 100vh;
  min-width: 1000px;
}
.wave{
  position: absolute;
  height: auto;
  min-height: 100%;
}
.carousel{
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: space-around;
}
.carousel-wrapper{
  position:relative;
}
.carousel-image{
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.carousel-text {
  font-family: 'El camino';
  font-weight: lighter;
  position: absolute;
  bottom: 30%;
  left: 20px;
  font-size: 7rem;
  display: flex;
  flex-wrap: wrap;
  z-index: 1000;
  color: #FFFFFF;
}
.carousel-description {
  font-family: 'Futura';
  font-weight: normal;
  position: absolute;
  bottom: 13%;
  left: 20px;
  font-size: 1.35rem;
  display: flex;
  flex-wrap: wrap;
  z-index: 1000;
  color: #FFFFFF;
  width: 45%;
  line-height: 1.3em!important;
}
.carousel-description>span {
  margin-bottom: 20px;
}
.carousel-border {
  width: 100%;
  height: 30px;
  position: absolute;
  right: 0;
  bottom: -58px;
  z-index: 3;
  transform: scale(-1);
}

.carousel-border-image {
  width: 100%;
  height: 50px;
  object-fit: cover;
  object-position: center;
}

@media(max-width: 1024px){
  .slick-dots{
    width: 20%;
    left: 40%;
  }
  .carousel-text{
    font-size: 2em;
    bottom: 23%;
  }
  .carousel-description{
    font-size: 1.8rem;
    width: 70%;
    bottom: 12%;
  }
  .menu{
    top: 40px;
    cursor: pointer;
  }

  .waves {
    height: 100%;
    left: -600px;
    bottom: -290px;
    transform: rotate(-20deg) scale(1.5);
  }

  .wave {
    height: 100%;
  }

}

@media(max-width: 768px){
  .slick-dots{
    width: 30%;
    left: 35%;
  }

  .carousel-border-image {
    height: 30px;
  }

  .carousel-text {
    font-size: 1.6em;
    bottom: 27%;
  }

  .carousel-description {
    font-size: 0.3em;
    width: 60%;
  }

  .waves {
    height: 100%;
    left: -300px;
    bottom: -150px;
    transform: rotate(-30deg) scale(1.5);
  }

  .wave {
    height: 100%;
  }
  
}
/* Smartphones General ---------------- */
@media only screen
and (max-width: 599px){
  .slick-dots{
    width: 50%!important;
    left: 25%!important;
  }
  .waves {
    height: 100%;
    transform: rotate(-20deg) scale(1.5);
  }
  .wave {
    height: 100%;
  }
}
/* Smartphones P (portrait) ---------------- */
@media only screen 
and (max-width : 330px){
  .carousel-text {
    font-size: .9em;
    bottom: 230px;
  }

  .carousel-description {
    font-size: 1rem;
    width: 70%;
    bottom: 70px;
  }

  .waves {
    left: -220px;
    bottom: 150px;
  }
}

/* Smartphones M (portrait) ---------------- */
@media only screen 
and (min-width : 331px)
and (max-width : 399px){
  .carousel-text {
    font-size: 1em;
    bottom: 250px;
  }
  
  .carousel-description {
    font-size: 1.1rem;
    width: 70%;
    bottom: 70px;
  }
  
  .waves {
    left: -300px;
    bottom: 18vh;
  }
}

/* Smartphones L (portrait) ---------------- */
@media only screen 
and (min-width : 400px)
and (max-width : 599px){
  .carousel-text {
    font-size: 1em;
    bottom: 250px;
  }
  
  .carousel-description {
    font-size: 1.1rem;
    width: 70%;
    bottom: 80px;
  }
  
  .waves {
    left: -300px;
    bottom: 3vh;
  }
}
/* Iphone X ---------------- */
@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) {
      .waves {
        bottom: -10vh;
      }
}

/* Tablets ---------------- */

/* Tablet Portrait */
@media only screen 
and (min-device-width: 600px)
and (max-device-width: 1200px) 
and (orientation : portrait){
  .slick-dots{
    width: 30%!important;
    left: 35%!important;
  }
}


/* iPad Pro Portrait ------------------ */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-height: 1366px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 1.5) {
    .slick-dots{
      width: 30%!important;
      left: 35%!important;
    }
}


/* ##### CAMPAING SECTION ###### */
 
.campaign-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 8% 40px 8%;
  position: relative;
  overflow: hidden;
  /* width: 100vw; */
}

.oil-splatter1 {
  position: absolute;
  left: 30%;
  top: 0%;
  width: 100%;
  max-width: 100px;
}
.oil-splatter2 {
  position: absolute;
  left: 5%;
  top: 30%;
  width: 100%;
  max-width: 50px;
}
.oil-splatter3 {
  position: absolute;
  left: 29%;
  top: 35%;
  width: 100%;
  max-width: 20px;
}
.oil-splatter4 {
  position: absolute;
  left: 55%;
  top: 35%;
  width: 100%;
  max-width: 400px;
}

.title {
  text-align: center;
  font-family: 'El camino';
  font-weight: normal;
  color: var(--green);
  font-size: 5.5rem;
  width: 65%;
  margin: 80px auto 40px auto;
  letter-spacing: 2px;
}

.text {
  font-family: 'Futura';
  color: var(--gray);
  line-height: 1.3;
  width: 65%;
  margin-right: auto;
  font-size: 1.6rem;
  letter-spacing: 1px;
  /* font-weight: bold; */
  text-align: left;
}

/* Smartphones General ---------------- */
@media only screen
and (max-width: 599px){
  .campaign-section {
    margin-bottom: 20px;
  }

  .title{
    margin: 50px auto 20px;
    width: 100%;
  }

  .text {
    width: 100%;
  }

  .oil-splatter1 {
    left: 30%;
    top: 0%;
    max-width: 60px;
  }
  .oil-splatter2 {
    left: 0%;
    top: 32%;
    max-width: 30px;
  }
  .oil-splatter3 {
    left: 60%;
    top: 35%;
    max-width: 20px;
  }
  .oil-splatter4 {
    left: 30%;
    top: 50%;
    max-width: 200px;
  }

}
/* Smartphones P (portrait) ---------------- */
@media only screen 
and (max-width : 330px){
  .title {
    font-size: 2.1rem;
  }

  .text {
    font-size: 1rem;
  }

}

/* Smartphones M (portrait) ---------------- */
@media only screen 
and (min-width : 331px)
and (max-width : 399px){
  .title {
    font-size: 2.4rem;
  }

  .text {
    font-size: 1.3rem;
  }
  
}

/* Smartphones L (portrait) ---------------- */
@media only screen 
and (min-width : 400px)
and (max-width : 599px){
  .title {
    font-size: 2.4rem;
  }

  .text {
    font-size: 1.5rem;
  }
}
/* Iphone X ---------------- */
@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) {
    .text {
      font-size: 1.6rem;
    }
}

/* Tablets ---------------- */

/* Tablet Portrait */
@media only screen 
and (min-device-width: 600px)
and (max-device-width: 1200px) 
and (orientation : portrait){
  .title {
    width: 100%;
    font-size: 5rem;
    margin-bottom: 20px;
  }

  .text {
    font-size: 2rem;
  }
}


/* iPad Pro Portrait ------------------ */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-height: 1366px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 1.5) {
    .title {
      width: 100%;
      font-size: 7rem;
      margin-bottom: 20px;
    }
  
    .text {
      font-size: 2rem;
    }
}


/* #### MAP SECTION ##### */

.map-section {
  margin: 0 8%;
}

.map-section > .title {
  font-size: 2.6rem;
  width: 80%;
  /* margin-left: auto; */
  /* margin-right: 0; */
  margin: 50px 0 60px auto;
  text-align: right;
}

#mapid {
  height: 400px;
  width: 100%;
  border-radius: 20px;
  box-shadow: 5px 5px 8px rgba(65, 77, 184, 0.171);
  margin-bottom: 60px;
}

#help-button {
  display: flex;
  align-items: center;
  justify-content: center;
  
  margin-top: -40px;
  width: 170px;
  padding: 13px 5px;

  border: none;
  border-radius: 2px;
  /* box-shadow: 3px 3px 8px rgba(65, 77, 184, 0.171); */
  /* background-color: #2FB4A2; */
  background: url(../../static/image/help-button.svg);
  background-position: center;

  font-size: 1.1rem;
  font-family: 'Futura';
  color: white;

  cursor: pointer;

  transition-delay: .1s;
  transition-duration: .2s;
}

#help-button svg {
  fill: white;
  margin-right: 13px;
}

#help-button:hover {
  background-color: rgb(80, 185, 171);
  transform: translateY(-3px);
}

/* Smartphones General ---------------- */
@media only screen
and (max-width: 599px){
  .map-section > .title {
    width: 100%;
    margin: 0 auto 40px;
    text-align: center;
  }
}
/* Smartphones P (portrait) ---------------- */
@media only screen 
and (max-width : 330px){
  .map-section > .title {
    font-size: 1.2rem;
  }
}

/* Smartphones M (portrait) ---------------- */
@media only screen 
and (min-width : 331px)
and (max-width : 399px){
  .map-section > .title {
    font-size: 1.4rem;
  }
}

/* Smartphones L (portrait) ---------------- */
@media only screen 
and (min-width : 400px)
and (max-width : 599px){
  .map-section > .title {
    font-size: 1.6rem;
  }
}

/* Tablets ---------------- */

/* Tablet Portrait */
@media only screen 
and (min-device-width: 600px)
and (max-device-width: 1200px) 
and (orientation : portrait){
  .map-section > .title {
    font-size: 3rem;
    margin-top: 20px;
    margin-bottom: 40px;
    width: 100%;
  }
}


/* iPad Pro Portrait ------------------ */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-height: 1366px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 1.5) {
    .map-section > .title {
      font-size: 3rem;
      margin-top: 20px;
      margin-bottom: 40px;
      width: 100%;
    }
}

/* #### CLEANING SECTION #### */

.cleaning-section {
  width: 100%;
  height: 900px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
}
.oil-cleaning {
  position: absolute;
  width: 100%;
  max-width: 800px;
  top: -10%;
  z-index: 1;
}
.oil-cleaning2{
  position: absolute;
  width: 100%;
  max-width: 100px;
  top: 70%;
  left: 30%;
}
.div-cleaning {
  width: 100%;
  max-width: 1050px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 3;
}

.cleaning-images-1 {
  position: absolute;
  width: 70%;
  max-width: 590px;
  margin: 20px;
  left: -5%;
  top: 5%;
}

.cleaning-images-2 {
  position: absolute;
  width: 70%;
  max-width: 550px;
  margin: 20px;
  right: -3%;
  bottom: 4%;
}

/* Smartphones General ---------------- */
@media only screen
and (max-width: 599px){
  .oil-cleaning2{
    width: 30%;
    max-width: 300px;
    top: 50%;
    left: 60%;
    z-index: 5;
  }
  .cleaning-images-1 {
    width: 85%;
    max-width: 590px;
    left: 0%;
    top: 3%;
  }

  .cleaning-images-2 {
    width: 85%;
    max-width: 550px;
    right: 0%;
    bottom: 0%;
  }
}
/* Smartphones P (portrait) ---------------- */
@media only screen 
and (max-width : 330px){
  .cleaning-section {
    margin-top: 30px;
    height: 500px;
  }
}

/* Smartphones M (portrait) ---------------- */
@media only screen 
and (min-width : 331px)
and (max-width : 399px){
  .cleaning-section {
    margin-top: 40px;
    height: 580px;
  }
}

/* Smartphones L (portrait) ---------------- */
@media only screen 
and (min-width : 400px)
and (max-width : 599px){
  .cleaning-section {
    margin-top: 30px;
    height: 650px;
  }
}

/* Tablets ---------------- */

/* Tablet Portrait */
@media only screen 
and (min-device-width: 600px)
and (max-device-width: 1200px) 
and (orientation : portrait){
  .cleaning-section {
    height: 900px;
  }
  .oil-cleaning2{
    width: 100%;
    max-width: 100px;
    top: 65%;
    left: 10%;
  }
  .cleaning-images-1 {
    width: 70%;
    max-width: 550px;
    left: 5%;
    top: 5%;
  }
  .cleaning-images-2 {
    width: 70%;
    max-width: 500px;
    right: 3%;
    bottom: -5%;
  }
}


/* iPad Pro Portrait ------------------ */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-height: 1366px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 1.5) {
    .oil-cleaning2{
      width: 100%;
      max-width: 130px;
      top: 65%;
      left: 25%;
    }
}

/* #### SHARE-TEXT SECTION */

.share-text-section {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 80%;
  position: relative;
}
.share-oil {
  position: absolute;
  top: 5%;
  left: 20%;
  width: 100%;
  max-width: 120px;
  transform: rotate(-20deg);
  z-index: -1;
}
.share-oil2 {
  top: 0%;
  left: 60%;
  position: absolute;
  width: 100%;
  max-width: 200px;
}
.share-text-section .title {
  font-size: 6rem;
}
.share-text-section .text {
  margin: 0 auto;
  text-align: center;
}

/* Smartphones General ---------------- */
@media only screen
and (max-width: 599px){
  .share-oil {
    top: 5%;
    left: -10%;
    max-width: 80px;
    transform: rotate(-20deg);
  }
  .share-oil2 {
    left: 35%;
    top: -5%;
    max-width: 180px;
  }
}
/* Smartphones P (portrait) ---------------- */
@media only screen 
and (max-width : 330px){
  .share-text-section .title {
    font-size: 3rem;
  }
}

/* Smartphones M (portrait) ---------------- */
@media only screen 
and (min-width : 331px)
and (max-width : 399px){
  .share-text-section .title {
    font-size: 3.5rem;
  }
}

/* Smartphones L (portrait) ---------------- */
@media only screen 
and (min-width : 400px)
and (max-width : 599px){
  .share-text-section .title {
    font-size: 3.5rem;
  }
  .share-oil {
    max-width: 60px;
    transform: rotate(-20deg);
  }
}

/* Tablets ---------------- */

/* Tablet Portrait */
@media only screen 
and (min-device-width: 600px)
and (max-device-width: 1200px) 
and (orientation : portrait){
  .share-text-section {
    width: 100%;
  }
}


/* ##### SHARE-IMAGES SECTION #####*/
.share-images-section {
  margin: 40px 0;
}

.share-images-section .text p {
  margin: 0 8% 40px 8%;
}

/* Smartphones General ---------------- */
@media only screen
and (max-width: 599px){

}
/* Smartphones P (portrait) ---------------- */
@media only screen 
and (max-width : 330px){

}

/* Smartphones M (portrait) ---------------- */
@media only screen 
and (min-width : 331px)
and (max-width : 399px){

}

/* Smartphones L (portrait) ---------------- */
@media only screen 
and (min-width : 400px)
and (max-width : 599px){

}

/* Tablets ---------------- */

/* Tablet Portrait */
@media only screen 
and (min-device-width: 600px)
and (max-device-width: 1200px) 
and (orientation : portrait){

}


/* iPad Pro Portrait ------------------ */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-height: 1366px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 1.5) {

}

/* #### DATA SECTION ##### */

.data-section {
  background-image: url('/static/image/oleo-praia-al12x.png');
  font-family: 'El camino';
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 1px;
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  margin: 0 8%;
}

.data-container{
  margin: 50px 0 0 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.data {
  font-size: 5.5rem;
  margin: 0;
  width: 100%;
}
.data-description {
  font-size: 2rem;
}

/* 
@media(min-width: 768px){
  .text {
    font-size: 1rem;
    text-align: center;
  }
} */



/*//////////////////// STYLE SLICK ///////////////////*/
.slick-track{
  width: 100%;
  height: 100vh;
}
.slick-dots{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 15%;
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: 20px;
  left: 42.5%;
  z-index: 5;
}
.slick-dots button{
  -webkit-appearance: none;
  width: 22px;
  height: 22px;
  border: none;
  /* border-radius: 50%; */
  font-size: 0;
  background-image: url('../../static/image/Carrossel-2.svg');
  cursor: pointer;
  background-color: transparent;
  background-position: center;
  background-size: cover;

}
.slick-active button{
  -webkit-appearance: none;
  background-image: url('../../static/image/Carrossel.svg');
}

/*///////////////// MOBILE ///////////////////*/


.login-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fb-login-button {
  cursor: pointer;
}


/*///////////////// MOSAIC ///////////////////*/
.mosaic-container {
  position: relative;
}

.mosaic-container .mosaic-item {
  width: 12.5vw;
  height: 12.5vw;
  background: #707070;
  overflow: hidden;
  position: relative;
}

.mosaic-container .mosaic-container {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.mosaic-container .mosaic-item .mosaic-image {
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.mosaic-container .mosaic-item-description {
  height: 12.5vw;
  width: 12.5vw;
  background-color: #506077b2;
  color: white;
  font-size: 0.8rem;
  font-family: 'El camino';
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  opacity: 0;
  transition: opacity .2s ease-in-out;
}

.mosaic-container .mosaic-item-description:hover {
  opacity: 1;
}

.mosaic-container .mosaic-item-description .mosaic-item-description-text {
  line-height: 1rem;
}


.mosaic-container .mosaic-border-image {
  width: 100%;
  height: 30px;
  object-fit: cover;
  object-position: center;
}

.mosaic-container .mosaic-border-top {
  width: 100%;
  position: absolute;
  top: -62px;
  right: 0;
  z-index: 3;
}

.mosaic-container .mosaic-border-bottom {
  width: 100%;
  position: absolute;
  right: 0;
  bottom: -62px;
  z-index: 3;
  transform: scale(-1);
}


@media(min-width: 768px){
  .mosaic-container .mosaic-container {
    width: 100%;
    background-color: #707070;
  }

  .mosaic-container .mosaic-item {
    width: 8.33%;
    height: 8.33vw;
    overflow: hidden;
    position: relative;
  }

  .mosaic-container .mosaic-image {
    outline: 1px solid #707070;
    outline-offset: -1px;
  }

  .mosaic-container .mosaic-border-image {
    height: 50px;
  }

  .mosaic-container .mosaic-border-top {
    top: -58px;
  }

  .mosaic-container .mosaic-border-bottom {
    bottom: -58px;
    z-index: 3;
  }
}


.-hidden {
  animation: fadeOut 0.4s;
}

.-show {
  animation: fadeIn 0.4s;
  z-index: 2;
}

.modal {
  font-size: 1rem;
  color: var(--gray);
  font-family: 'Futura';
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-checkbox {
  display: grid;
  grid-template-columns: auto 1fr;
  line-height: 1.0;
}

#modal-button{
  background-color: var(--green);
  color: #FFFFFF;
  border: none;
  padding: 5px 15px 13px;
  font-family: 'Futura';
  font-size: 0.9rem;
  margin-top: 10px;
}

.list {
  padding-left: 20px
}


/*///////////////// FOOTER ///////////////////*/
.footer-section .footer-waves {
  height: 180px;
  width: 250%;
  transform: scale(0.4, 0.8);
  transform-origin: bottom left;
}

.footer-section .footer-content {
  display: flex;
  justify-content: space-evenly;
  background-color: #2EB3A1;
  padding-bottom: 40px;
}

.footer-section .footer-content-network {
  display: flex;
  font-family: 'Futura';
  text-decoration: none;
  color: #3E4142;
  font-size: 3.5rem;
}

.footer-section .footer-credits-description {
  display: none;
  font-size: 1.3rem;
}

.footer-section .footer-credits {
  font-family: 'Futura';
  font-size: 0.9rem;
  font-weight: bold;
  text-align: right;
  padding: 6px 40px 5px 0;
}

.footer-section .footer-credits-icon {
  height: 0.9rem;
}

@media(min-width: 768px){

  .footer-section .footer-waves {
    width: 100%;
    transform: scale(1, 1);
  }

  .footer-section .footer-content {
    flex-direction: column;
    padding: 0 8% 15px 8%;
  }

  .footer-section .footer-content-network {
    font-size: 2.5rem;
    align-items: center;
    font-weight: 500;
    padding-bottom: 15px;
  }

  .footer-section .footer-content-network .fab {
    width: 50px;
    text-align: right;
  }

  .footer-section .footer-credits-description {
    display: inline-block;
    margin-left: 15px;
  }

  .footer-section .footer-credits {
    padding: 16px 8%;
    font-size: 1.3rem;
  }

  .footer-section .footer-credits-icon {
    height: 1.3rem;
  }
}

/*///////////////// ANIMATION ///////////////////*/
@keyframes fadeIn{
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}

@keyframes fadeOut{
  from {
    opacity: 1;
  } to {
    opacity: 0;
  }
}
