<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/views/home/home.css">
  <title>Se Chegar A Gente Limpa</title>
</head>

<body>

  <main>
    <section class="campaign-section">
      <h2 class="title">Política de Privacidade - #SeChegarAGenteLimpa</h2>
      <div class="text">
        <p>
            Ao utilizar nossos serviços, o Usuário está confiando seus dados ao nosso time. Sabemos da preocupação do Usuário com a forma que as informações são coletadas e utilizadas. Agradecemos a confiança e trabalharemos duro para manter tais informações seguras.

            O SeChegarAGenteLimpa está comprometido com a conscientização dos Usuários da rede em relação às informações coletadas e utilizadas para proporcionar uma melhor experiência de navegação na rede “www.sechegaragentelimpa.com.br”. Por este motivo, apresentamos nossa Política de Privacidade, que tem por objetivo esclarecer o uso dessas informações.
            
            A nossa Política de Privacidade se encontra em vigor desde 30 de outubro de 2019.
            
            Quais informações são coletadas?
            
            Coletamos informações para fornecer serviços de qualidade a todos os nossos usuários e para isso precisamos processar informações sobre os mesmos. O SeChegarAGentelimpa coleta informações do Facebook do usuário mediante autorização do mesmo no aplicativo gerado pelo Facebook para integração.
            
                • Dados que você cria ou nos fornece: Ao criar uma conta na nossa Plataforma, o Usuário fornece seus dados pessoais que incluem um nome, e a imagem utilizada no perfil do Facebook.
            
            Recebemos e armazenamos quaisquer informações que o Usuário insere em nosso site ou nos fornece de qualquer outra forma. O Usuário pode escolher não fornecer determinadas informações, mas então poderá não tirar vantagem de muitas de nossas funções. Utilizamos as informações que o Usuário nos fornece para fins de, por exemplo, preencher o mapa de pontos de incidência de óleo e colocar a sua imagem de perfil do Facebook com seu nome como apoiador do movimento.
            
            Coletamos o conteúdo, comunicações e outras informações que o Usuário fornece quando utiliza nossa Plataforma, inclusive quando se cadastra para criar uma conta, cria ou compartilha conteúdo, envia mensagens ou se comunica com outras pessoas. Isso pode incluir informações presentes ou sobre o conteúdo que o Usuário fornece.
            
            
            Como/por que as informações são usadas?
            
            Usamos as informações para popular nossos serviços de mapear os pontos de incidência de óleo e preencher o nosso mosaico de perfis do Facebook de contribuintes ao movimento.
            
            Como essas informações são compartilhadas?
            
            Não compartilhamos informações pessoais com empresas, organizações ou indivíduos externos a Plataforma, exceto nos casos descritos abaixo.
            
                • Com sua autorização: Compartilharemos informações pessoais fora da Plataforma quando consentidas pelo Usuário. O consentimento do usuário será solicitado de forma explícita quando se tratar de compartilhamento de quaisquer informações pessoais confidenciais.
            
                • Por motivos legais: Compartilharemos informações pessoais fora do Plataforma se o acesso, o uso, a conservação ou a divulgação das informações sejam razoavelmente necessários para o cumprimento de qualquer legislação, regulação, processo legal ou solicitação governamental aplicável, e para detectar, impedir ou lidar de alguma forma com fraudes, problemas técnicos ou de segurança.
            
                • Transferência de propriedade: Se a propriedade ou o controle total ou parcial de nossos Produtos ou respectivos ativos forem alterados, poderemos transferir as informações do Usuário para o novo proprietário.
            
            Nestes casos, continuaremos a garantir a confidencialidade das informações pessoais dos Usuários, e os avisaremos antes que as informações pessoais sejam transferidas ou submetidas a uma Política de Privacidade diferente.
            
                • Para processamento externo: Fornecemos informações pessoais às nossas afiliadas ou outras empresas ou pessoas confiáveis para processar tais informações por nós, de acordo com nossas instruções e em conformidade com nossa Política de Privacidade e quaisquer outras medidas de segurança e de confidencialidade adequadas. Por exemplo, usamos provedores de serviços para nos ajudar no suporte ao Usuário.
            
            Como controlar os dados Coletados?
            
            O SeChegarAGenteLimpa fornece o acesso a informações sobre conta e interações do Usuário com a Plataforma para fins limitados de visualização e, em determinados casos, atualização dessas informações.
            
            Armazenamos dados até que eles não sejam mais necessários para o fornecimento de nossos serviços, ou até que sua conta seja excluída, desde que expressamente solicitado — o que ocorrer primeiro. Esta é uma determinação que varia de acordo com cada caso e depende de fatores como a natureza dos dados, o motivo pelo qual são coletados e processados, e necessidades de retenção operacional ou legal relevantes. 
            
            Se mesmo com as informações presentes nesta Política de Privacidade, o Usuário ainda permanecer com dúvidas, por favor, contate-nos por meio do nosso canal de atendimento. Para nos contatar, o Usuário poderá encaminhar um e-mail para o endereço eletrônico: sechegaragentelimpa@gmail.com.br.
            
            Como excluir as informações?
            
            A SeChegarAGenteLimpa concede ao Usuário a capacidade de acesso, retificação e exclusão dos dados por si inseridos a partir do endereço eletrônico sechegaragentelimpa@gmail.com com prazo máximo de 7 dias úteis para qualquer ação referida a cima. 
            
            O término do tratamento dos dados pessoais ocorrerá sempre houver o fim do período de tratamento, determinação de autoridade nacional, quando houver violação aos termos dispostos na Lei nº 13.709/2018, ou mediante comunicação expressa do titular, resguardado o interesse público. 
            
            Como notificar as alterações nos termos de privacidade?
            
            A SeChegarAGenteLimpa se compromete a notificar o Usuário sempre que houver quaisquer alterações em nossa Política de Privacidade, dando a oportunidade de análise, a fim de decidir acerca da permanência na utilização de nossos serviços.
            **********
        </p>
      
      </div>
    
  </main>

</body>
</html>